
body{
  font-family: Arial;
  text-align: center;
  /* background-color: aquamarine; */
  background-color: aquamarine;
}


/*CSS for Digits*/

#digitList{
  width: 550px;
  height: 50px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

} 

.digit{
  background-color: white;
  border: 1px solid black;
  flex-basis: 50px;


  /* Text */
  font-size: 35px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;

}

/*End of CSS for Digits*/


/* CSS for Sudoku Grid*/
#sudokuGrid{
  width: 552px;
  height: 552px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

} 

.box{

  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  flex-basis: 60px;
  height: 60px;


  /* Text */
  font-size: 35px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;

}

.answerBox{
  color: green
}

.givenBox{
  color: black;
}

.numMatch{
  background-color: lightgray;
}

.box-selected{
  background-color: lightgray;
}

/*adds the top borders of the grid*/
.box:nth-child(-n+9){
  border-top: 1px solid gray;
}

/*adds the right borders of the grid*/
.box:nth-child(9n-8){
  border-left: 1px solid gray;
}

/*adds the bottom borders to the box*/
.horizontal{
  border-bottom: 2px solid black;
}

/*adds the right borders to the box*/
.vertical{
  border-right: 2px solid black;
}
/*End of CSS for Sudoku Grid*/

/*Eraser CSS*/
.eraser{
 width: 50px;
 height: 50px;
}

img{
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  margin-top: 15px;
  cursor: pointer;
}

.incorrect {
  color: red;
}

/*End of Eraser CSS*/