.body{
  font-family: Arial;
}

.header { 
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

button {
  background-color: transparent;  
  text-align: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.button-grid {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;

}

.button-selected{
  background-color: darkgreen;
  
}

.css-Buttongrid{
  background-color: transparent;
  border-color: black;
}

.css-grids {
  display: grid;
  grid-template-columns: 45px 50px 50px 50px 50px 50px 50px 50px 50px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
